@charset "UTF-8";

.header {
	height: 70px;
	overflow: hidden;
	padding-left: 20px;
}

.header .title {
	float: left;
}

.header .info {
	float: right;
	height: 70px;
	line-height: 70px;
	margin-right: 28px;
}

.header .info a:after {
	content: '|';
	margin: 0 5px;
}

.header .info a:last-child:after {
	content: '';
	margin: 0;
}

.footer {
	height: 30px;
	overflow: hidden;
	text-align: center;
	line-height: 30px;
}

/* 替换tree的图标*/
.tree-icon {
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 16px !important;
	background: none;
}

.tree-folder:before {
	content: "\f114";
}

.tree-folder-open:before {
	content: "\f115";
}

.tree-file:before {
	content: "\f0f6";
}

.tree-node {
	padding-top: 2px;
	margin: 3px 0;
}

.panel-icon {
	padding-top: 2px;
	font-size: 13px;
}

.l-btn-icon.fa {
  font-size: 16px;
}

.form .form-line{
	margin: 10px;
}

.form .form-line label{
	width: 80px;
	display: inline-block;
	text-align: right;
	margin-left: 10px;
}

.form .form-line label:after {
	content: "：";
}

.form .form-line input[type=text], .form .form-line input[type=password], .form .form-line select{
	min-width: 200px;
}

.form .form-line.required label:before {
	content: "*";
	color: red;
}

a.actions{
	cursor: pointer;
}

a.actions:before{
	padding-right: 2px; 
}

a.actions:after {
	content:"|";
	margin: 0 5px;
}

a.actions:last-child:after {
	content: "";
	margin: 0;
}

a.actions:hover {
	color: #ff6600;
}

